@font-face {
    font-family: 'Gotham-Book';
    src: url('assets/fonts/Gotham-Book.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham-Book';
    src: url('assets/fonts/Gotham-Book-Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham-Book';
    src: url('assets/fonts/Gotham-Book-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}